<div class="edit-container">
  <div class="row">
    <form action="/records/{{record._id}}/edit" method="post">
      <div class="">
        <p>*必填欄位</p>
        <h3>請修改你的支出</h3>
      </div>
      <div class="name-content"><label for="name">名稱* :</label><input type="text" name="name" id="name"
          value="{{record.name}}"></div>
      <div class="date-content"><label for="date">日期* :</label><input type="date" name="date" id="date"
          value="{{record.date}}"></div>
      <div class="category-content"><label for="category">類別* :</label><select name="categoryId" id="categoryId">{{#each
          categorys}} <option value="{{this._id}}" {{#if this.selected}}selected {{/if}}>{{this.category_name}}
          </option> {{/each}}</select></div>
      <div class="amount-content"><label for="amount">金額* :</label> <input type="number" name="amount" id="amount"
          value="{{record.amount}}">
      </div>
      <div>
        <label for=""></label>
        <button class="btn" type="submit">送出</button>
      </div>
    </form>
  </div>
</div>