<div class="main">
  {{!-- 分類 --}}
  <form action="">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="submit" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        類別:
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li value=""><a class="dropdown-item" href="/">全部</a></li>
        {{#each categorys}}
        <li><a class="dropdown-item" href="/category/{{this._id}}">{{this.category_name}}</a></li>
        {{/each }}
      </ul>
    </div>
  </form>

  <div class="amout-wrapper">
    <h3>總金額</h3>
    {{!-- 總金額 --}}
  </div>

  <div class="record-wrappser">
    {{#each records}}
    <div class="card">
      <div class="category-img">
        {{{this.img}}}
      </div>
      <div class="record-content">
        <div class="record-title">{{this.name}}</div>
        <div class="record-date">{{this.date}}</div>
        <div class="record-amout">{{this.amount}}</div>
      </div>
      <a href="/records/{{this._id}}/edit">修改</a>
      <form action="/records/{{this._id}}/delete" method="post">
        <button type="submit">刪除</button>
      </form>
    </div>
    {{/each }}
  </div>

  <div class="create-container">
    <a href="/records/new">新增支出</a>
  </div>
</div>

<script src="/javascripts/index.js"></script>