<div class="create-container">
  <div class="row">
    <form action="/records/new" method="post">
      <div class="">
        <p>*必填欄位</p>
        <h3>請輸入你的支出</h3>
      </div>
      <div class="name-content">
        <label for="name">名稱* :</label>
        <input type="text" name="name" id="name" value="{{name}}">
      </div>
      <div class="date-content"><label for="date">日期* :</label><input type="date" name="date" id="date"
          value="{{date}}"></div>
      <div class="category-content">
        <label for="category">類別* :</label>
        <select name="categoryId" id="categoryId">
          {{#each categorys}}
          <option value="{{this._id}}">{{this.category_name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="amount-content">
        <label for="amount">金額* :</label>
        <input type="number" name="amount" id="amount" value="{{amount}}">
      </div>
      <div>
        <label for=""></label>
        <button class="btn" type="submit">新增支出</button>
      </div>
    </form>
  </div>
</div>